# PyCharm
.idea
__pycache__

# Building artifacts
build
micro_manager_precice.egg-info/
micro_manager.egg-info/
*.so

# Packaging artifacts
dist

# vscode
.vscode

# Tests output
*.log

# preCICE files
precice-profiling/
precice-run/
*events.json
