repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: check-xml
    - id: check-merge-conflict
    - id: mixed-line-ending
    - id: end-of-file-fixer
    - id: trailing-whitespace
# black repo for python formatting
- repo: https://github.com/ambv/black
  rev: 22.12.0
  hooks:
    - id: black
- repo: https://github.com/precice/precice-pre-commit-hooks
  rev: 'v3.3'
  hooks:
  - id: format-precice-config
    files: "^.*/precice-config.xml"
  - id: check-image-prefix
    args: [ --prefix=docs-tooling-micro-manager- ]
