name: Test adaptivity functionality in parallel
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"
jobs:
  adaptivity_integration_test_parallel:
    name: Adaptivity integration test in parallel
    runs-on: ubuntu-latest
    container: precice/precice:nightly
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: micro-manager

      - name: Install sudo for MPI
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install sudo

      - name: Use mpi4py
        uses: mpi4py/setup-mpi@v1

      - name: Install dependencies
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          pip3 install --upgrade pip

      - name: Install Micro Manager
        working-directory: micro-manager
        run: pip3 install .

      - name: Run integration test with global adaptivity in parallel
        timeout-minutes: 3
        working-directory: micro-manager/tests/integration/test_unit_cube
        run: |
          mpiexec -n 2 --allow-run-as-root micro-manager-precice micro-manager-config-global-adaptivity.json &
          python3 unit_cube.py

  adaptivity_unit_tests_parallel:
    name: Adaptivity unit tests in parallel
    runs-on: ubuntu-latest
    container: precice/precice:nightly
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: micro-manager

      - name: Install sudo for MPI
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install sudo

      - name: Use mpi4py
        uses: mpi4py/setup-mpi@v1

      - name: Install Dependencies
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          pip3 install --upgrade pip

      - name: Install Micro Manager
        working-directory: micro-manager
        run: pip3 install --user .

      - name: Run parallel unit tests
        working-directory: micro-manager/tests/unit
        run: mpiexec -n 2 --allow-run-as-root python3 -m unittest test_adaptivity_parallel.py
