name: Test functions in class DomainDecomposer
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"
jobs:
  domain_decomposition_integration_tests:
    name: Run domain decomposition integration tests
    runs-on: ubuntu-latest
    container: precice/precice:nightly
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: micro-manager

      - name: Install sudo for MPI
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install sudo

      - name: Use mpi4py
        uses: mpi4py/setup-mpi@v1

      - name: Install Dependencies
        working-directory: micro-manager
        run: |
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Install micro-manager
        working-directory: micro-manager
        run: pip3 install --user .

      - name: Run integration test (variant 1)
        timeout-minutes: 3
        working-directory: micro-manager/tests/integration/test_unit_cube
        run: mpiexec -n 2 --allow-run-as-root micro-manager-precice micro-manager-config-parallel-1.json & python3 unit_cube.py

      - name: Run integration test (variant 2)
        timeout-minutes: 3
        working-directory: micro-manager/tests/integration/test_unit_cube
        run: mpiexec -n 6 --oversubscribe --allow-run-as-root micro-manager-precice micro-manager-config-parallel-2.json & python3 unit_cube.py

  domain_decomposition_unit_tests:
    name: Run domain decomposition unit tests
    runs-on: ubuntu-latest
    container: precice/precice:nightly
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: micro-manager

      - name: Install Dependencies
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          python -m pip install --upgrade pip
          pip install setuptools wheel

      - name: Install Micro Manager
        working-directory: micro-manager
        run: pip3 install --user .

      - name: Run unit tests
        working-directory: micro-manager/tests/unit
        run: python3 -m unittest test_domain_decomposition.py
