name: Run macro-micro dummy case
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:  
  run_macro_micro_dummy:
    name: Run macro-micro dummy
    runs-on: ubuntu-latest
    container: precice/precice:v2.3.0
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2      
      - name: Install Dependencies
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Install pyprecice
        run: pip3 install --user pyprecice
      - name: Install micro-manager
        run: pip3 install --user .
      - name: Run macro-micro dummy
        run: |
          cd examples/macro-micro-dummy/
          python3 macro_dummy.py & micro_manager micro-manager-config.json
