name: Run macro-micro dummy
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"
jobs:
  run_dummy:
    name: Run dummy
    runs-on: ubuntu-latest
    container: precice/precice:nightly
    steps:

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: micro-manager

      - name: Install Dependencies
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          apt-get -qq install sudo
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Install micro-manager
        working-directory: micro-manager
        run: pip3 install --user .

      - name: Run python macro-micro dummy
        timeout-minutes: 3
        working-directory: micro-manager/examples
        run: python3 micro-manager-precice micro-manager-config.json & python3 macro_dummy.py

      - name: Run adaptive python macro-micro dummy
        timeout-minutes: 3
        working-directory: micro-manager/examples
        run: python3 micro-manager-precice micro-manager-adaptivity-config.json & python3 macro_dummy.py

      - name: Run c++ macro-micro dummy
        timeout-minutes: 3
        working-directory: micro-manager/examples
        run: |
          cd cpp-dummy/
          pip install pybind11
          c++ -O3 -Wall -shared -std=c++11 -fPIC $(python3 -m pybind11 --includes) micro_cpp_dummy.cpp -o micro_dummy$(python3-config --extension-suffix)
          cd ../
          python3 micro-manager-precice micro-manager-config.json & python3 macro_dummy.py

      - name: Run adaptive c++ macro-micro dummy
        timeout-minutes: 3
        working-directory: micro-manager/examples
        run: python3 micro-manager-precice micro-manager-adaptivity-config.json & python3 macro_dummy.py
