name: Run tests for adaptivity
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"
jobs:  
  adaptivity_integration_test:
    name: Run adaptivity integration test
    runs-on: ubuntu-latest
    container: precice/precice:develop
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: micro-manager

      - name: Install dependencies
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          python -m pip install --upgrade pip
          pip install setuptools wheel
          pip install git+https://github.com/precice/python-bindings.git@develop

      - name: Install Micro Manager
        working-directory: micro-manager
        run: pip3 install --user .

      - name: Run integration test
        working-directory: micro-manager/tests/integration/test_unit_cube_dummy
        run: python3 unit_cube_macro.py & python3 run_micro_manager.py --config micro-manager-config-adaptivity.json

  adaptivity_unit_tests:
    name: Run adaptivity unit tests
    runs-on: ubuntu-latest
    container: precice/precice:develop
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          path: micro-manager

      - name: Install Dependencies
        working-directory: micro-manager
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          python -m pip install --upgrade pip
          pip install setuptools wheel
          pip install git+https://github.com/precice/python-bindings.git@develop

      - name: Install Micro Manager
        working-directory: micro-manager
        run: pip3 install --user .

      - name: Run unit tests
        working-directory: micro-manager/tests/unit
        run: python3 -m unittest test_adaptivity.py
