name: Run integration test for adaptivity
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:  
  run_test_adaptivity:
    name: Test adaptivity
    runs-on: ubuntu-latest
    container: precice/precice
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2      
      - name: Install Dependencies
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Install pyprecice
        run: pip3 install --user pyprecice
      - name: Install micro-manager
        run: pip3 install --user .
      - name: Run macro-micro dummy
        run: |
          cd tests/integration/test_adaptivity/
          python3 macro_solver.py & micro_manager micro-manager-config.json
