name: Run unit tests for functions in micro_manager.py
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    container: precice/precice:nightly
    steps:
      - uses: actions/checkout@v4
        with:
          path: micro-manager

      - name: Install dependencies
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          pip3 install --upgrade pip

      - name: Install Micro Manager and uninstall pyprecice
        working-directory: micro-manager
        run: |
          pip3 install --user .[snapshot]
          pip3 uninstall -y pyprecice

      - name: Run micro_manager unit test
        working-directory: micro-manager/tests/unit
        run: python3 -m unittest test_micro_manager.py

      - name: Run interpolation unit test
        working-directory: micro-manager/tests/unit
        run: python3 -m unittest test_interpolation.py

      - name: Run micro simulation crash unit test
        working-directory: micro-manager/tests/unit
        run: python3 -m unittest test_micro_simulation_crash_handling.py

      - name: Run HDF5 read and write unit tests
        working-directory: micro-manager/tests/unit
        run: python3 -m unittest test_hdf5_functionality.py

      - name: Install dependencies for snapshot computation
        working-directory: micro-manager/tests/unit
        run: pip3 install --user ".[snapshot]"

      - name: Run snapshot_computation unit tests
        working-directory: micro-manager/tests/unit
        run: python3 -m unittest test_snapshot_computation.py
