name: Run tests for domain decomposition
on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - "*"
jobs:  
  domain_decomposition_integration_test:
    name: Run domain decomposition integration tests
    runs-on: ubuntu-latest
    container: precice/precice
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3      
      - name: Install sudo for MPI
        run: |
          apt-get -qq update
          apt-get -qq install sudo

      - name: Use mpi4py
        uses: mpi4py/setup-mpi@v1

      - name: Add user precice
        run: useradd -m -s /bin/bash precice

      - name: Install Dependencies
        run: |
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          su -c "python -m pip install --upgrade pip" precice
          su -c "pip install setuptools wheel twine" precice

      - name: Install micro-manager
        run: su -c "pip3 install --user ." precice

      - name: Run integration test (variant 1)
        timeout-minutes: 3
        run: |
          chown -R precice tests/integration/test_unit_cube_dummy/
          cd tests/integration/test_unit_cube_dummy/
          su -c "mpiexec -n 2 python3 run_micro_manager.py --config micro-manager-config-parallel-1.json & python3 unit_cube_macro.py" precice
      
      - name: Run integration test (variant 2)
        timeout-minutes: 3
        run: |
          cd tests/integration/test_unit_cube_dummy/
          su -c "mpiexec -n 6 python3 run_micro_manager.py --config micro-manager-config-parallel-2.json & python3 unit_cube_macro.py" precice

  domain_decomposition_unit_tests:
    name: Run domain decomposition unit tests
    runs-on: ubuntu-latest
    container: precice/precice
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: |
          apt-get -qq update
          apt-get -qq install python3-dev python3-pip git python-is-python3 pkg-config
          python -m pip install --upgrade pip
          pip install setuptools wheel
      - name: Install Micro Manager
        run: pip3 install --user .
      - name: Run unit tests
        run: python3 -m unittest tests/unit/test_domain_decomposition.py
